@font-face {
  font-family: DoulosSILW;
  src: url(DoulosSIL-R.woff);
}

body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 40px 10px 10px;
	line-height: 1.3em;
}

h1, h2, h3, h4 {
	font-family: Georgia, serif;
	font-weight: normal;
	color: #6C0505;
	margin: 20px 0 0 0;
	line-height: 1em;
}

a {
	color: #0E78AC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	box-shadow: 0 2px 4px #666;
	border-radius: 5px;
}

.ipa {
	font-family: DoulosSILW, sans-serif;
	font-size: 1.5em;
}

#container {
	max-width: 800px;
	margin: auto;
}

.heading {
	margin-top: 40px;
	padding-left: 20px;
	position: relative;
}

.heading:before {
	font-size: 16px;
	color: #000;
	content: "➤";
	position: absolute;
	left: -5px;
}

/* IPA table */
#ipa-chart {
	border-collapse:collapse;
	font-size: 0.9em;
	text-align: center;
}

#ipa-chart tr + tr {
	border-top: solid 1px #999;
}

#ipa-chart td + td,
#ipa-chart th + th,
#ipa-chart th + td,
#ipa-chart td + th {
	border-left: solid 1px #999;
}

#ipa-chart th {
	font-weight: normal;
	max-width: 61px;
	min-width: 61px;
	height: 50px;
}

#ipa-chart td {
	padding: 0;
}

.cell {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.cell + .cell {
	margin-left: -5px;
}

.one .cell {
	width: 64px;
}

.two .cell {
	width: 31px;
}

.cell.letter {}

.cell.impossible {
	background-color: #CCC;
}

.cell.blank {}

/* FOOTER */
footer {
	border: solid 2px;
	padding: 0 20px;
	margin-top: 40px;
}

/* DEFINITIONS */
.define, #definitions {
	padding: 3px 3px 1px 3px;
	background: #FFFF99;
	border-bottom: dotted 2px #FFCC33;
	line-height: 1.6em;
}

.define:hover {
	cursor: pointer;
	background: #FFCC33;
}

.define.selected {
	background: #FFCC33;
}

#definitions {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 150px;
}

#definition-list {
	display: none;
}

#definition-box {
	display: none;
	position: absolute;
	background: #FFF;
	box-shadow: 0 2px 4px #666;
	width: 160px;
	padding: 0 20px;
	border-radius: 5px;
	color: #6C0505;
}

#definition-box .references {
	margin-top: 20px;
	font-size: 0.8em;
	font-style: italic;
	border-top: solid 1px #CCC;
	padding-top: 5px;
}

#definition-box #close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 3px;
	color: #000;
	font-weight: bold;
}

#definition-box #close:hover {
	cursor: pointer;
}
